{% set navigation = [
    {'url':'home','display_name':'Home'},
    {'url':'aboutme','display_name':'About Me'},
    {'url':'gallery','display_name':'Gallery'},
    {'url':'contact','display_name':'Contact'}
] %}

{% set active_page = active_page|default('home') %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        Menu

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% for item in navigation %}
            <li class="nav-item">
                <a class="nav-link {% if item['url'] == active_page %} active{% endif %}" href="{{url_for(item['url'])}}">{{ item['display_name']}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
        </div>
</nav>